@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazirmatn;
    text-decoration: none;
    list-style: none;
}

.container{
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid gray;
    justify-content: center;
}

.snapp-logo{
    margin-left: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}

.item{
    display: inline-block;
}

.item-link{
    color: #888;
    font-weight: 500;
}

.sub-box{
    display: none;
}

.box{
    position: relative;
}

.box:hover .sub-box{
    display: flex;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 10px;
    width: 150px;
    background-color: white;
    z-index: 100;
}
